.calendar {
    display: flex;
    flex-flow: row;
    
    background: #F1F1F1;
    border-radius: 7px;

    span{
        line-height: 40px;
        text-align: left;
        font-size: 14px;
        font-family: 'FiraGO BOOK';
        font-weight: normal;
        color: #6b6b6b;
        
}
    input {
        border: 0;
        height: 50px;
    }

    .__from {
        display: flex;
    }
    
    .__to{
        display: flex;
    }
}