.userBalance {
    display: flex;
    width: 100%;
    max-width: 485px;
    max-height: 101px;
    margin-bottom: 30px;

    p {
        margin: 0;
        font-family: 'FiraGO MEDIUM';
    }

    &__balance {
        width: 50%;
    }
}