.vf-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 30px;

    .step-title {
        display: inline-block;
        width: 100%;
        font-weight: 500;
        font-family: 'FIRAGO MEDIUM';
        margin-bottom: 20px;
        font-size: 18px;
        color: #130D1E;
    }
    .ident-title {
        font-family: 'FIRAGO MEDIUM';
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
        margin-bottom: 30px;
    }
    .ident-info {
        width: 100%;
        display: inline-block;
        margin-top: 60px;
        font-family: 'FiraGO BOOK';
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        
        color: #6b6b6b;
    }
    .agree-terms {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        a {
            margin-left: 10px;
            cursor: pointer;
            font-family: 'FiraGO REGULAR';
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #130d1e;
            text-decoration: underline;
        }
    }

    .check-info {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;

        .info-head {
            display: inline-block;
            font-family: 'FIRAGO MEDIUM';
            font-size: 16px;
            line-height: 19px;
            color: #130D1E;
            padding-bottom: 5px;
        }
        
        .info-cont {
            display: inline-block;
            font-family: 'FIRAGO MEDIUM';
            font-size: 16px;
            line-height: 19px;
            color: #6b6b6b;
            padding-bottom: 5px;
        
        }
    }
    .uploaded-documents {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-bottom: 20px;
        img {
            width: 33%;
            border-radius: 10px;
        }
    }
    
    
    .vf-poster {
        margin: auto;
        img {
            display: block;
            margin: auto;
        }
    
        .vf-infotext {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-top: 60px;
            span {
                &:first-child {
                    font-family: 'FiraGO MEDIUM';
                    font-weight: normal;
                    font-size: 24px;
                    text-align: center;
                    color: #130d1e;
                    margin-bottom: 18px;
                }
                &:last-child {
                    font-family: 'FiraGO BOOK';
                    font-weight: normal;
                    font-size: 14px;
                    text-align: center;
                    color: #6b6b6b;
                }
            }
        }
        
    }  
    .vf-buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        button {
            max-width: 155px;
            width: 100%;
            height: 54px;
            border-radius: 7px;
            background: #f1f1f1;
            border: none;
            margin-right: 10px;
            font-family: 'FiraGO MEDIUM';
        }
    }   
}



.buttonTest {
    min-height: 54px;
    padding: 0 15px;
    border-radius: 10px;
    background: #94dd34;
    border: none;
    font-family: 'FiraGO MEDIUM';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}