.sidePanel {
    border-radius: 25px;
    position: fixed;
    right: -580px;
    top: 0;
    width: 570px;
    background:#FFFFFF;
    height: 100%;
    transition: all 500ms linear;
    z-index: 101;
    overflow: hidden;

    &.active {
        right: 0;
    }

    .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        background: white;
        position: absolute;
        top: 0;
        z-index: 9999;
        box-sizing: border-box;
        border-bottom: 1px solid #cfcfcf;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100%;

        .close-sidePanel {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background: #f1f1f1;
            border: none;
            text-align: center;
            line-height: 50px;
        }
    }

    .body {
        margin-top: 80px;
        height: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }
}

@media(max-width: 570px) {
    .sidePanel { 
        width: 100%;
    }
}