.infoSlider {
    display: flex;
    justify-content: space-between;
    padding: 0 143px 391px 143px;


    .text-fade {
        animation: fadein 4s;
        -moz-animation: fadein 4s; /* Firefox */
        -webkit-animation: fadein 4s; /* Safari and Chrome */
        -o-animation: fadein 4s; /* Opera */
      }
      
      .img-fade {
          animation: fadein 3.5s;
          -moz-animation: fadein 3.5s; /* Firefox */
          -webkit-animation: fadein 3.5s; /* Safari and Chrome */
          -o-animation: fadein 3.5s; /* Opera */
      }
      
      
      @keyframes fadein {
        from {
            opacity:0.7;
        }
        to {
            opacity:1;
        }
      }
      @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0.7;
        }
        to {
            opacity:1;
        }
      }
      @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0.7;
        }
        to {
            opacity:1;
        }
      }
      @-o-keyframes fadein { /* Opera */
        from {
            opacity:0.7;
        }
        to {
            opacity: 1;
        }
      }
      


    .Macbook {
        position: relative;

        img {
            &:last-child {
                position: absolute;
                top: 200px;
                right: -20px;
            }
        }
        .for-mac {
            position: absolute;
            width: 680px;
            height: 435px;
            left: 90px;
            top: 20px;
            background-repeat: no-repeat;
        }

        .for-phone {
            position: absolute;
            background: #130D1e;
            width: 160px;
            height: 342px;
            top: 217px;
            z-index: 9;
            right: 11px;
            border-radius: 17px;
            background-repeat: no-repeat;
        }
    }
    .uni-service-wrap {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 556px;
        height: 397px;
        
        .bullets {
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #C4C4C4;
            border-radius: 50%;
            margin: 0 15px;
            cursor: pointer;

             &.active {
                background: #94dd34;
                border: none;
            }
        }
    }   
}

@media (max-width: 1580px) {
    .infoSlider {
        
        .Macbook {
            img {
                &:nth-child(3){
                    width: 740px;
                }

                &:last-child {
                    width: 170px;
                    top: 255px;
                    right: -35px;
                }
            }

            .for-mac {
                width: 582px;
                height: 375px;
                left: 85px;
                top: 20px;
                background-size: 582px;
              }

              .for-phone {
                width: 120px;
                background-size: 120px;
                height: 259px;
                top: 268px;
                z-index: 9;
                right: -10px;
                border-radius: 13px;
              }
        }

        .uni-services-wrap{
            width: 480px;
            height: 260px;
          }

    }  

}

@media (max-width: 1280px) {
    .infoSlider {
        
        .Macbook {
            img {
                &:nth-child(3){
                    width: 550px;
                }

                &:last-child {
                    width: 125px;
                    top: 240px;
                    right: -20px;
                }
            }

            .for-mac {
                width: 430px;
                height: 275px;
                left: 65px;
                top: 15px;
                background-size: 430px;
            }

            .for-phone {
                width: 87px;
                background-size: 87px;
                height: 189px;
                top: 250px;
                z-index: 9;
                right: -1px;
                border-radius: 9px;
            }
        }

        

    }  

}


@media (max-width: 1024px) {
    .infoSlider {
        align-items: unset;

        .Macbook {
            img {
                &:nth-child(3){
                    width: 370px;
                }

                &:last-child {
                    width: 85px;
                    top: 150px;
                    right: -10px;
                }
            }

            .for-mac {
                width: 290px;
                height: 180px;
                left: 43px;
                top: 15px;
                background-size: 290px;
            }

            .for-phone {
                width: 60px;
                background-size: 60px;
                height: 130px;
                top: 155px;
                z-index: 9;
                right: 2px;
                border-radius: 9px;
            }
        }

        

    }  

}

@media (max-width: 800px) {
    .infoSlider {
        display: none;
    }
}