.Landing-wrap {
    

    .La-first-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 115px 125px 318px 125px;

            .left-content {

                .uni-wallet {
                    width: 601px;
                    height: 116px;
                    font-family: 'FiraGO MEDIUM';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 58px;
                    font-feature-settings: 'case' on;
                    text-transform: uppercase;
                    color: #130D1E;
                }
                .visa-partner {
                    font-family: 'FiraGO REGULAR';
                    margin:29px 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 23px;
                    color: #6B6B6B;
                }
                .appstore-logos {
                    img:nth-child(1) {
                       margin-right: 26px;                         
                    }
                }
                
            }

            .right-content {
                display: flex;
                align-items: center;

                .visa-mc {
                    position: relative;
                    top: 55px;
                }
            }
            
    }
    .La-second-container {
       
        
    }    
    .La-third-container{
        background-color: #FAFAFA;

           
    }

    .La-fourth-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 280px 143px 168px 143px;

        .visa-mc-images {
            img {
                &:nth-child(2) {
                    margin-left: 30px;
                }
            }
        }
        .visa-mc-text {
            display: flex;
            flex-flow: column;
            span {
                &:first-child {
                    font-family: 'FIRAGO REGULAR';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 37px;
                    line-height: 48px;
                    -moz-font-feature-settings: "case";
                    -webkit-font-feature-settings: "case";
                    font-feature-settings: "case" on;
                    text-transform: uppercase;
                    color: #130D1E;
                }

                &:nth-child(2) {
                    font-family: 'FIRAGO REGULAR';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #6B6B6B;
                }
                }
            }
        }

    .La-last-container {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding: 127px 0;

            span {
                display: block;

                &:first-child {
                    font-family: 'FIRAGO MEDIUM';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 36px;
                    text-align: center;
                    -moz-font-feature-settings: "case";
                    -webkit-font-feature-settings: "case";
                    font-feature-settings: "case" on;
                    text-transform: uppercase;
                    color: #130D1E;
                }

                &:nth-child(2) {
                    font-family: 'FIRAGO MEDIUM';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 36px;
                    text-align: center;
                    color: #AFADB4;
                    margin: 52px 0 49px 0;
                }
            }
    }

}     

@media (max-width: 1150px) {
    .PlanCards {
        .PlanCards-Body {
            flex-wrap: wrap;
            width: 80%;
        }
    }
}
@media (max-width: 1280px) {
    .Landing-wrap {
        .La-first-container {
                .left-content {
                    .uni-wallet {
                        font-size: 26px;
                        line-height: 31px;
                    }

                    .appstore-logos {
                        img {
                            width: 130px;
                            height: 40px;
                        }
                    }
                } 
        }
    }
}  


@media (max-width: 800px) {
    .Landing-wrap{
        width: 100%;
        display: flex;
        justify-content: center;

        .La-first-container{
            flex-flow: column-reverse;
            padding: 0 25px;
            justify-content: center;
            box-sizing: border-box;

            .right-content {
                flex-flow: column-reverse;

                .visa-mc {
                    position: unset;
                }
            }

            .left-content {
                display: flex;
                flex-flow: column;
                align-items: center;
                width: 100%;

                .uni-wallet {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin-top: 25px;
                    
                }

                .visa-partner {
                    font-size: 16px;
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .Landing-wrap {
        .La-first-container { 
            .left-content {
                .visa-partner {
                    font-size: 12px;
                    margin-top: unset;

                    span {
                        img {
                            width: 23px;
                        }
                    }
                }
            }
        }
    }                
}

@media (max-width: 375px) {
    .Landing-wrap {
        .La-first-container { 
            .left-content {

                .uni-wallet {
                    font-size: 20px;
                }
                .visa-partner {
                    font-size: 12px;
                    margin-top: unset;

                    span {
                        img {
                            width: 23px;
                        }
                    }
                }
            }
        }
    }                
}

