.Landing-wrap {
    

    .La-first-container{
        padding: 115px 143px 127px 143px;
        display: flex;
        align-items: center;
        justify-content: space-between;

            .left-content {
                .uni-wallet {
                    width: 601px;
                    height: 116px;
                    font-family: 'FiraGO MEDIUM';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 58px;
                    font-feature-settings: 'case' on;
                    text-transform: uppercase;
                    color: #130D1E;
                }
                .visa-partner {
                    font-family: 'FiraGO REGULAR';
                    margin:29px 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 23px;
                    color: #6B6B6B;
                }
                .appstore-logos {
                    img:nth-child(1) {
                       margin-right: 26px;                         
                    }
                }
                
            }

            .right-content {
                display: flex;
                align-items: center;

                .visa-mc {
                    position: relative;
                    top: 55px;
                }
            }
            
    }
    .La-second-container {
        
    }    
    .La-third-container{
        background-color: #FAFAFA;

           
    }
}    

@media (max-width: 1150px) {
    .PlanCards {
        .PlanCards-Body {
            flex-wrap: wrap;
            width: 80%;
        }
    }
}

@media (max-width: 800px) {
    .Landing-wrap{
        width: 100%;

        .La-first-container{
            flex-flow: column-reverse;
            padding: unset;
            justify-content: center;

            .right-content {
                flex-flow: column-reverse;

                .visa-mc {
                    position: unset;
                }
            }
        }
    }
}