$whiteColor : #FFFFFF;
$unicardGreen: #94dd34;
$unicardOrange: #F47321;


.ac-container{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    border-radius: 7px;
    box-sizing: border-box;
    
    &.Wallet {
        .triangle, .ac-bullets .ac-bullet.active  {
            border: 1px solid #A5A5A4; 
            background-color: #A5A5A4;        
        }
        .ac-card,.multicard, .ac-bullet {
            border: 1px solid #A5A5A4; 
        }
        .ac-cardnumber {
            color: #A5A5A4;
        }
        
        
    }

    &.Upera {
        .triangle, .ac-bullets .ac-bullet.active {
            border: 1px solid #94dd34;
            background-color: #94dd34;
        }
        .ac-card, .multicard,  .ac-bullet {
            border: 1px solid #94dd34; 
        }
        .ac-cardnumber {
            color: #94dd34;
        }
        
    }

    &.UniPlus {
        .triangle, .ac-bullets .ac-bullet.active  {
            border: 1px solid #F9BD15;
            background-color: #F9BD15;
        }
        .ac-card, .multicard,  .ac-bullet {
            border: 1px solid #F9BD15; 
        }
        .ac-cardnumber {
            color: #F9BD15;
        }
    }

    &.UniUltra {
        .triangle, .ac-bullets .ac-bullet.active {
            border: 1px solid #F49121;
            background-color: #F49121;
        }
        .ac-card, .multicard,  .ac-bullet {
            border: 1px solid #F49121;
        }
        .ac-cardnumber {
            color: #F49121;
        }
        
    } 

    .multicard {
        width: 240px;
        height: 104px;
        border-radius: 7px;
        box-sizing: border-box;
        position: absolute;
        overflow: hidden;
    }

    .triangle {
        position: absolute;
        top: -7px;
        right: -14px;
        width: 36px;
        height: 24px;
        transform: rotate(45deg);
        box-sizing: border-box;

    }

    .ac-card {
        width: 240px;
        height: 104px;
        border-radius: 7px;
        border: 1px solid green;
        box-sizing: border-box;
        position: relative;
        top: 6px;
        right: 6px;
        background-color: $whiteColor;
        overflow: hidden;
    }

    

    .click-icon {
        position: absolute;
        top: 36px;
        right: 16px;
    }

    .ac-cardnumber {
        position: absolute;
        font-family: 'FiraGo MEDIUM';
        font-size: 12px;
        font-weight: 700;
        top: 20px;
        right: 15px;
    }


    .ac-name {
        font-family: 'FiraGO REGULAR';
        color: #6B6B6B;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        position: absolute;
        top: 7px;
        left: 14px;
        
    }

    .ac-balance {
        font-family: 'FiraGO MEDIUM';
        color: #130D1E;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        position: absolute;
        top: 31px;
        left: 14px;
    }


    .ac-currencies {
        display: flex;
        flex-flow: row;
        position: absolute;
        top: 62px;
        left: 14px;
        z-index: 300;

        .ac-currency {
            display: inline-block;
            font-family: 'FiraGO REGULAR';
            color: #6B6B6B;
            font-weight: normal;
            font-size: 12px;
            line-height: 10px;
            margin-right: 14px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            
        }
    }

    .ac-number {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 14px;
        bottom: 8px;

        span {
            display: inline-block;
            font-family: 'FiraGO REGULAR';
            color: #6B6B6B;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            margin-right: 3px
        }
        
    }

    .ac-logo {
        position: absolute;
        right: 16px;
        bottom: 12px;
    }
    .ac-bullets {
        display: flex;
        margin: 6px auto 0 auto;

        .ac-bullet {
            width: 10px;
            height: 10px;
            border: 1px solid rgb(230, 230, 230);
            border-radius: 50%;
            margin: 5px;
        }
    }
    
}

.ac-bankCards {
    
width: 140px;
height: 100px;
background: #FFFFFF;
border: 1px solid #C1C2C2;
box-sizing: border-box;
border-radius: 7px;
display: flex;
    justify-content: center;
    align-items: center;    
}