
body {
  margin: 0;
  font-family: 'FiraGO', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

@font-face {
  font-family: 'FiraGO BOLD';
  src: url('./Assets/Fonts/FiraGO-Bold.ttf') format("woff");
}
@font-face {
  font-family: 'FiraGO MEDIUM';
  src: url('./Assets/Fonts/FiraGO-Medium.ttf') format("woff");
}
@font-face {
  font-family: 'FiraGO REGULAR';
  src: url('./Assets/Fonts/FiraGO-Regular.ttf') format("woff");
}
@font-face {
  font-family: 'FiraGO BOOK';
  src: url('./Assets/Fonts/FiraGO-Book.ttf') format("woff");
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
