.Input {
    width: 470px;
    height: 54px;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #f6f6f4;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding-left: 15px;
    font-family: FiraGO BOOK;
    font-weight: normal;
    color: #130d1e;
}