.Modal {
    padding: 20px;
    width: 500px;
    height: 200px;
    margin: auto;
    border: none;
    border-radius: 7px;
    position: absolute;
    left: 40%;
    top: 30%;
    background-color: #FFFFFF;
    z-index: 700;

    .ModalHeader {
        display: flex;
        justify-content: space-between;
    }
}